{% component 'components:tabs.vertical.content' %}
{% set share = createModel('Share','share').findById(uuid) %}

<div class="mt-4">
    <div class="ui segment padded">
        {{ component('share::admin.dropdown',{ selected: uuid }) }}
    </div>    
    {% set hide = (uuid is empty) ? true : false %}  
    {{ component('system:admin.orm.options.edit',{ 
        model: 'ShareOptions',
        extension: 'share',
        id: share.id,
        class: 'mt-2 padded',
        hide: hide 
    }) }}
</div>
{% endcomponent %}